### 1-1 데이터 내용 미리보기

In [22]:
import pandas as pd

df = pd.read_csv('../../data/auto-mpg.csv', header=None)

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']

In [23]:
# 앞부분 일부 정보를 확인
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

In [24]:
# 뒷 부분 정보 일부 확인
df.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
388,26.0,4,156.0,92.00,2585.0,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835.0,14.7,82,1,ford granada l
390,32.0,4,144.0,96.00,2665.0,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.00,2370.0,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90.00,2950.0,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

### 1-2 데이터 요약 정보 확인하기

In [31]:
# 크기 확인 (행의 개수, 열의 개수)
import pandas as pd

df = pd.read_csv('../../data/auto-mpg.csv', header=None)

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']
df.shape

(398, 9)

In [26]:
# 기본 정보 출력 (클래스 유형, 각 컬럼별 타입, 널개수, 메모리 할당에 대한 정보 등)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [27]:
# 각 열의 타입 확인
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [28]:
# 특정 열의 타입 확인
df.mpg.dtypes

dtype('float64')

In [29]:
# 산술 데이터(숫자)를 갖는 열에 대한 주요 기술 통계 정보(평균, 표준편차, 최대값, 최소값, 중간값 등) 을 확인
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [30]:
# 산술 데이터가 아닌 데이터 또한 Nan 으로 확인하기
df.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

### 1-3 데이터 개수 확인

In [44]:
import pandas as pd

df = pd.read_csv('../../data/auto-mpg.csv', header=None)

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']

In [45]:
# 각 열이 가지고 있는 원소 개수 확인
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [47]:
# df.count() 가 반환하는 객체 타입 출력
print(type(df.count()))

<class 'pandas.core.series.Series'>

In [42]:
# 각 열의 고유값 개수
unique_values = df['origin'].value_counts()
print(unique_values)

# 1(미국) 249개, 3(일본) 70개, 2(유럽) 79개

1    249
3     79
2     70
Name: origin, dtype: int64

### 2-1 통계 함수 적용

In [2]:
import pandas as pd

df = pd.read_csv('../../data/auto-mpg.csv', header=None)

df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']

In [6]:
# 산술 연산이 가능한 모든 열에 대해 평균값을 적용한 시리즈를 반환
print(df.mean())
print('\n')
print(type(df.mean()))
print(df.mean().shape)
print('\n')

# 산술 연산이 가능한 특정 열에 대해 평균값을 적용한 시리즈를 반환
print(df['weight'].mean())

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64


<class 'pandas.core.series.Series'>
(7,)


2970.424623115578

In [4]:
# 산술 연산이 가능한 모든 열에 대해 중간값을 적용한 시리즈를 반환
print(df.median())
print('\n')
print(type(df.median()))
print(df.median().shape)
print('\n')

# 산술 연산이 가능한 특정 열을 지정해 중간값을 적용한 시리즈 반환
print(df['weight'].median())

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64


<class 'pandas.core.series.Series'>
(7,)


2803.5

In [12]:
# 최대값 확인
print(df.max()) # 모든 열에 대해 최대값 출력
print('\n')
print(df['weight'].max()) # 특정 열에 대해 최대값 출력
print('\n')

# 최소값 확인
print(df.min()) # 모든 열에 대해 최대값 출력
print('\n')
print(df['weight'].min()) # 특정 열에 대해 최대값 출력

mpg                         46.6
cylinders                      8
displacement                 455
horsepower                     ?
weight                      5140
acceleration                24.8
model year                    82
origin                         3
name            vw rabbit custom
dtype: object


5140.0


mpg                                   9
cylinders                             3
displacement                         68
horsepower                        100.0
weight                             1613
acceleration                          8
model year                           70
origin                                1
name            amc ambassador brougham
dtype: object


1613.0

문자열에 대한 최대/최소의 경우 ASCII 코드값을 비교하게 된다.  
여기서 horsepower 열의 경우 ? 와 숫자 데이터가 섞여 전체가 문자열로 인식되게 된다.  
따라서 문자열 상 최소인 100.0 이 출력되게 되는것

In [14]:
# 모든 열의 표준 편차
print(df.std())
print('\n')

# 특정 열의 표준 편차
print(df['weight'].std())

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64


846.8417741973271

In [19]:
# 산술 연산이 가능한 모든 열끼리 2개씩 짝지어 상관계수 계산
df.corr().head(10)

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000