In [18]:
def print_lines():
    print('\n')
    print('='*20)
    print('\n')

In [19]:
# 예제 1-1  딕셔너리 -> 시리즈
import pandas as pd

dict_data = {
    'a': 1,
    'b': 2,
    'c': 3
}

sr = pd.Series(dict_data)
print(str(type(sr)) + '\n')
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [20]:
# 예제 1-2  리스트 -> 시리즈
import pandas as pd

list_data = ['test1', 3.12, '2020-01-01', 1000, True]
sr = pd.Series(list_data)

print('시리즈')
print(sr)
print_lines()

sr_index = sr.index
sr_values = sr.values

print('인덱스')
print(sr_index)
print(type(sr_index))
print_lines()

print('데이터 값')
print(sr_values)
print(type(sr_values))
print_lines()

시리즈
0         test1
1          3.12
2    2020-01-01
3          1000
4          True
dtype: object


====================


인덱스
RangeIndex(start=0, stop=5, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>


====================


데이터 값
['test1' 3.12 '2020-01-01' 1000 True]
<class 'numpy.ndarray'>


====================

In [35]:
# 예제 1-3  시리즈 원소 선택
import pandas as pd

tup_data = ('버부', '2020-01-02', True, 12.3, 234)
list_index = ['이름', '날짜', '참트루', '소수점', '정수']
sr = pd.Series(tup_data, list_index)

print('시리즈')
print(sr)
print_lines()

print('by 정수형 위치 인덱스    :',sr[0])
print('by 인덱스 이름       :',sr['이름'])
print_lines()

print('by 정수형 슬라이스   :   ',sr[1:2])
print('by 정수형 위치 인덱스    :',sr[0])
print('by 인덱스 이름       :',sr['이름'])
print_lines()

print('by 정수형 슬라이스   :   ',sr[1:2])
print('by 이름 슬라이스    :  ','\n',sr['날짜':'정수'])

시리즈
이름             버부
날짜     2020-01-02
참트루          True
소수점          12.3
정수            234
dtype: object


====================


by 정수형 위치 인덱스    : 버부
by 인덱스 이름       : 버부


====================


by 정수형 슬라이스   :    날짜    2020-01-02
dtype: object
by 정수형 위치 인덱스    : 버부
by 인덱스 이름       : 버부


====================


by 정수형 슬라이스   :    날짜    2020-01-02
dtype: object
by 이름 슬라이스    :
 날짜     2020-01-02
참트루          True
소수점          12.3
정수            234
dtype: object

In [38]:
# 예제 1-4  딕셔너리 -> 데이터 프레임
import pandas as pd

dict_data = {
    'c0':list(range(0,5)),
    'c1':list(range(5,10)),
    'c2':list(range(10,15)),
    'c3':list(range(15,20)),
    'c4':list(range(20,25)),
}

df = pd.DataFrame(dict_data)

print('데이터 프레임')
print(type(df))
print(df)

데이터 프레임
<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   0   5  10  15  20
1   1   6  11  16  21
2   2   7  12  17  22
3   3   8  13  18  23
4   4   9  14  19  24

In [49]:
# 예제 1-5  행 인덱스/열 이름 설정
import pandas as pd

list_2d = [
    [25, '남', '컴공과'],
    [23, '여', '사복과']    
]

df = pd.DataFrame(list_2d)
print(df)
print_lines()

df = pd.DataFrame(
    list_2d,
    index=['법우','혜림'],
    columns=['나이','성별','학과']
    )
print(df)
print(df.index)
print(df.columns)
print_lines()

df.index = ['KBW', 'YHR']
df.columns = ['age', 'sex', 'major']
print(df)
print(df.index)
print(df.columns)
print_lines()

# 예제 1-6  행 인덱스/열 이름 변경
df.rename(index={'KBW':'김법우', 'YHR':'윤혜림'}, inplace=True)
print(df)
print(df.index)
print(df.columns)
print_lines()

df.rename(columns={'age':'나이', 'sex':'성별', 'major':'소속 학과'}, inplace=True)
print(df)
print(df.index)
print(df.columns)
print_lines()

0  1    2
0  25  남  컴공과
1  23  여  사복과


====================


    나이 성별   학과
법우  25  남  컴공과
혜림  23  여  사복과
Index(['법우', '혜림'], dtype='object')
Index(['나이', '성별', '학과'], dtype='object')


====================


     age sex major
KBW   25   남   컴공과
YHR   23   여   사복과
Index(['KBW', 'YHR'], dtype='object')
Index(['age', 'sex', 'major'], dtype='object')


====================


     age sex major
김법우   25   남   컴공과
윤혜림   23   여   사복과
Index(['김법우', '윤혜림'], dtype='object')
Index(['age', 'sex', 'major'], dtype='object')


====================


     나이 성별 소속 학과
김법우  25  남   컴공과
윤혜림  23  여   사복과
Index(['김법우', '윤혜림'], dtype='object')
Index(['나이', '성별', '소속 학과'], dtype='object')


====================

In [54]:
# 예제 1-7  행 삭제
import pandas as pd

exam_data = {
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

exam_index = ['A씨','B씨','C씨']

df = pd.DataFrame(exam_data, index=exam_index)
print(df)
print_lines()

df2 = df[:]
df2.drop('A씨', inplace=True)
print(df2)
print_lines()

df3 = df[:]
df3.drop(['C씨','B씨'], inplace=True)
print(df3)
print_lines()

math  kor  eng  com
A씨    80   88   89   86
B씨    60   66   57   77
C씨    70   90   98   44


====================


    math  kor  eng  com
B씨    60   66   57   77
C씨    70   90   98   44


====================


    math  kor  eng  com
A씨    80   88   89   86


====================

In [2]:
# # 예제 1-8  열 삭제
# import pandas as pd

# exam_data = {
#     'math':[80,60,70],
#     'kor':[88,66,90],
#     'eng':[89,57,98],
#     'com':[86,77,44]
# }

# exam_index = ['A씨','B씨','C씨']

# print(df)
# print_lines()

# df2 = df[:]
# df2.drop('math', axis=1, inplace=True)
# print(df2)
# print_lines()

# df3 = df[:]
# df3.drop(['kor','eng'], axis=0, inplace=True)
# print(df3)
# print_lines()

In [11]:
import pandas as pd

# 딕셔너리의 경우에는 키 -> 열 이름 , 값 (리스트) -> 열의 값 (시리즈)
# 별도의 키값을 지정 할 필요 없이 딕셔너리의 키값이 적용되고 행에는 정수형 인덱스가 자동으로 부여된다.

dict_test = {
    '이름' : ['김법우', '이종현', '김영화'],
    '나이' : [25,25,25],
    '학교' : ['금양중', '금양중', '동현중']
}

df = pd.DataFrame(dict_test)
df.rename(index={'이름': 'a'})
df.head()

    이름  나이   학교
0  김법우  25  금양중
1  이종현  25  금양중
2  김영화  25  동현중

In [3]:
import pandas as pd

# 이중 배열의 경우에는 하나의 2차원 배열의 row 가 데이터 프레임의 열로 들어가는 것을 알 수 있다.

list_test = [
    ['김법우', '이종현', '김영화'],
    [25,25,25],
    ['금양중', '금양중', '동현중']
]
   

df = pd.DataFrame(list_test)
df.head()

     0    1    2
0  김법우  이종현  김영화
1   25   25   25
2  금양중  금양중  동현중

In [17]:
# 예제 1-11  열 -> 행 인덱스로 변경
import pandas as pd

exam_data = {
    'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data)
print(df)
df.set_index('name', inplace=True)
print(df)

name  math  kor  eng  com
0    a    80   88   89   86
1    b    60   66   57   77
2    c    70   90   98   44
      math  kor  eng  com
name
a       80   88   89   86
b       60   66   57   77
c       70   90   98   44

In [20]:
# 예제 1-12 열 추가
import pandas as pd

exam_data = {
    'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data)
df['test'] = 39
df.head()

  name  math  kor  eng  com  test
0    a    80   88   89   86    39
1    b    60   66   57   77    39
2    c    70   90   98   44    39

In [21]:
# 예제 1-13 행 추가
import pandas as pd

exam_data = {
    'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data)
df.loc['test'] = 39
df.head()

     name  math  kor  eng  com
0       a    80   88   89   86
1       b    60   66   57   77
2       c    70   90   98   44
test   39    39   39   39   39

In [23]:
# 예제 1-15 전치 행렬
import pandas as pd

exam_data = {
    'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data)

df = df.transpose()
df.head()

df = df.transpose()
df.head()

  name math kor eng com
0    a   80  88  89  86
1    b   60  66  57  77
2    c   70  90  98  44

In [26]:
# 예제 1-16 열 -> 행 인덱스로 변경
import pandas as pd

exam_data = {
    'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data)

ndf = df.set_index(['name'])
ndf.head()

      math  kor  eng  com
name
a       80   88   89   86
b       60   66   57   77
c       70   90   98   44

In [29]:
# 예제 1-18 행 인덱스의 정수형 초기화
# 예제 1-16 열 -> 행 인덱스로 변경
import pandas as pd

exam_data = {
    # 'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data, index=['a','b','c'])
df.head()

ndf = df.reset_index()
ndf.head()

  index  math  kor  eng  com
0     a    80   88   89   86
1     b    60   66   57   77
2     c    70   90   98   44

In [33]:
# 예제 1-19 행 인덱스 기준 데이터 프레임 정렬
import pandas as pd

exam_data = {
    # 'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data, index=['a','b','c'])
df.head()

ndf = df.reset_index()
ndf.head()

sortdf = ndf.sort_index(ascending=True)
sortdf.head()

  index  math  kor  eng  com
0     a    80   88   89   86
1     b    60   66   57   77
2     c    70   90   98   44

In [40]:
# 예제 1-20 특정 열의 데이터값을 기준으로 데이터프레임 정렬
import pandas as pd

exam_data = {
    # 'name':['a','b','c'],
    'math':[80,60,70],
    'kor':[88,66,90],
    'eng':[89,57,98],
    'com':[86,77,44]
}

df = pd.DataFrame(exam_data, index=['a','b','c'])
df.head()

ndf = df.reset_index()
ndf.head()

sortdf = ndf.sort_index(ascending=True)
sortdf.head()

sortByMath = sortdf.sort_values(by='math', ascending=True)
sortByMath.head()

  index  math  kor  eng  com
1     b    60   66   57   77
2     c    70   90   98   44
0     a    80   88   89   86

In [2]:
# 예제 1-18
import pandas as pd
list_data = [
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4],
]

df = pd.DataFrame(list_data)
print(df)

df = df.reset_index()
print(df)

0  1  2  3
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4
4  1  2  3  4
   index  0  1  2  3
0      0  1  2  3  4
1      1  1  2  3  4
2      2  1  2  3  4
3      3  1  2  3  4
4      4  1  2  3  4

In [6]:
# 예제 20
import pandas as pd

dict_data = {
    'c0': [1,2,3,4,5],
    'c1': [1,2,3,4,5],
    'c2': [1,2,3,4,5],
    'c3': [1,2,3,4,5],
}

df = pd.DataFrame(dict_data, index=['r0','r1','r2','r3','r4'])
print(df)
print('\n')

### 열 c2 를 기준으로 정렬
ndf = df.sort_values(by='c2', ascending=False)
print(ndf)

c0  c1  c2  c3
r0   1   1   1   1
r1   2   2   2   2
r2   3   3   3   3
r3   4   4   4   4
r4   5   5   5   5


    c0  c1  c2  c3
r4   5   5   5   5
r3   4   4   4   4
r2   3   3   3   3
r1   2   2   2   2
r0   1   1   1   1

## 시리즈 산술 연산
1. Series 연산자(+,-,/,*) 실수
2. Series1 연산자 Series2
3. 연산 메소드 Series.add/sub/mul/div

In [10]:
# 1-21
import pandas as pd

st1 = pd.Series({
    'a': 100,
    'b': 200,
    'c': 300
})

div_st1 = st1/200

print(div_st1)

a    0.5
b    1.0
c    1.5
dtype: float64

In [15]:
# 1-22
import pandas as pd

st1 = pd.Series({
    'a': 102,
    'b': 34,
    'c': 156,
})

st2 = pd.Series({
    'a': 33,
    'b': 55,
    'c': 222,
})

add_result = st1 + st2
sub_result = st1 - st2
mul_result = st1 * st2
div_result = st1 / st2

total = pd.DataFrame([add_result, sub_result, mul_result, div_result], 
    index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

total.head()

               a            b             c
덧셈    135.000000    89.000000    378.000000
뺄셈     69.000000   -21.000000    -66.000000
곱셈   3366.000000  1870.000000  34632.000000
나눗셈     3.090909     0.618182      0.702703

In [16]:
# 1-23
import pandas as pd
import numpy as np

st1 = pd.Series({
    'a': np.nan,
    'b': 34,
    'c': 156,
})

st2 = pd.Series({
    'a': 33,
    'c': 222,
})

add_result = st1 + st2
sub_result = st1 - st2
mul_result = st1 * st2
div_result = st1 / st2

total = pd.DataFrame([add_result, sub_result, mul_result, div_result], 
    index=['덧셈', '뺄셈', '곱셈', '나눗셈'])

total.head()

      a   b             c
덧셈  NaN NaN    378.000000
뺄셈  NaN NaN    -66.000000
곱셈  NaN NaN  34632.000000
나눗셈 NaN NaN      0.702703

In [18]:
# 1-24
import pandas as pd
import numpy as np

st1 = pd.Series({
    'a': np.nan,
    'b': 34,
    'c': 156,
})

st2 = pd.Series({
    'a': 33,
    'c': 222,
})

add_result = st1.add(st2, fill_value=0)
sub_result = st1.sub(st2, fill_value=0)
mul_result = st1.mul(st2, fill_value=0)
div_result = st1.div(st2, fill_value=0)

total_result = pd.DataFrame([add_result, sub_result, mul_result, div_result], index=['r1', 'r2', 'r3', 'r4'])

total_result.head()

       a     b             c
r1  33.0  34.0    378.000000
r2 -33.0  34.0    -66.000000
r3   0.0   0.0  34632.000000
r4   0.0   inf      0.702703

## 데이터 프레임 산술 연산

In [22]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age', 'fare']]
# df.head()

df_add = df + 200
df_add.head()

     age      fare
0  222.0  207.2500
1  238.0  271.2833
2  226.0  207.9250
3  235.0  253.1000
4  235.0  208.0500

In [26]:
import pandas as pd
import seaborn as sns

tit = sns.load_dataset('titanic')
df = tit.loc[:, ['age','fare']]
# df.tail()

add_df = df + 10

ndf = add_df - df
ndf.tail()

      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

In [58]:
import pandas as pd

dataframe = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
], columns=['a','b','c'], index=['ra','rb','rc'])

dataframe.head()

    a  b  c
ra  1  2  3
rb  4  5  6
rc  7  8  9

In [44]:
dataframe.loc['ra':'rb','a':'c']

    a  b  c
ra  1  2  3
rb  4  5  6

In [45]:
dataframe.head()

    a  b  c
ra  1  2  3
rb  4  5  6
rc  7  8  9

In [60]:
dataframe.loc[['ra','rb']]['a'] = 1,2

In [61]:
dataframe.loc[['ra','rb']][['a','c']]

    a  c
ra  1  3
rb  4  6

In [63]:
import pandas as pd

dataframe = pd.DataFrame([
    ['n1',2,3],
    ['n2',5,6],
    ['n3',8,9]
])

dataframe.head()

     a  b  c
ra  n1  2  3
rb  n2  5  6
rc  n3  8  9

In [66]:
dataframe.set_index('a', inplace=True)
dataframe = dataframe.set_index('b')

In [70]:
print(dataframe)

c
b
2  3
5  6
8  9

In [71]:
dataframe.loc[0:]

   c
b
2  3
5  6
8  9

In [81]:
import pandas as pd

dataframe = pd.DataFrame([
    [1,2,3],
    [2,5,6],
    [3,8,9]
])

dataframe.head()

    0  1  2
0  n1  2  3
1  n2  5  6
2  n3  8  9

In [82]:
dataframe.set_index(0, inplace=True)
dataframe.head()

    1  2
0
n1  2  3
n2  5  6
n3  8  9

In [84]:
dataframe.sort_index(ascending=False)

    1  2
0
n3  8  9
n2  5  6
n1  2  3